<div id="page_content_inner">
    {{ form_start(form, {'attr':{'class':'uk-form-stacked', 'id':'form_validation'}}) }}
    {{ form_errors(form) }}
    <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
        <div class="uk-width-medium-3-10 uk-width-medium-3-10">
            <div class="md-card">
                <div class="md-card-toolbar">
                    <h3 class="md-card-toolbar-heading-text">
                        Image principale
                    </h3>
                </div>
                <div class="md-card-content">
                    <div class="uk-margin-bottom uk-text-center uk-position-relative">
                        {{ form_widget(form.mainPictureFile) }}
                        <span>     {{ form_errors(form.mainPictureFile) }} </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-medium-7-10 uk-width-medium-7-10">
            <div class="md-card">
                <div class="md-card-toolbar">
                    <h3 class="md-card-toolbar-heading-text">
                        Détails
                    </h3>
                </div>
                <div class="md-card-content large-padding">
                    <div class="uk-grid uk-grid-divider uk-grid-medium" data-uk-grid-margin>
                        <div class="uk-width-large-1-2">
                            <div class="uk-form-row">
                                <div class="parsley-row">
                                    {{ form_label(form.title,  'Titre'  ) }}
                                    {{ form_widget(form.title) }}
                                    <span>     {{ form_errors(form.title) }} </span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-width-xLarge-1-1 uk-width-large-1-1">
            <div class="md-card">
                <div class="md-card-toolbar">
                    <h3 class="md-card-toolbar-heading-text">
                        Déscription
                    </h3>
                </div>
                <div class="md-card-content large-padding">
                    <div class="uk-form-row">
                        <div class="parsley-row">
                            {{ form_label(form.description,   'Déscription'  ) }}
                            {{ form_widget(form.description) }}
                            <span>     {{ form_errors(form.description) }} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-fab-wrapper">
            <button type="submit" class="md-fab md-fab-accent md-fab-wave-light" id="event_add"
                    data-uk-tooltip="{cls:'uk-tooltip-small',pos:'left'}" title="Enregistrer">
                <i class="material-icons">&#xE161;</i>
            </button>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</div>
    <script>
        $(function () {
            var picture = $('#' + '{{ form.mainPictureFile.vars.id }}');
            $('.dropify-clear').on('click', function () {
                picture.prop('required', false);
            });
            picture.dropify({
                defaultFile: '{{ vich_uploader_asset(slider, 'mainPictureFile') }}',
                messages: {
                    'default': 'Cliquez ou glissez / déposez un fichier ici',
                    'replace': 'Cliquez ou glissez / déposez un fichier ici pour remplacer',
                    'remove': 'Supprimer',
                    'error': 'Une erreur s\'est survenue'
                }
            });
            var domTitle = $('#sbc_grifoflextunisiebundle_slider_title');
            var oldtitle = domTitle.val().toUpperCase();
            domTitle.on('change', function () {
                var title = domTitle.val().toUpperCase();
                if (title !== oldtitle) {
                    $.ajax({
                        async: true,
                        type: "POST",
                        url: '{{ app.request.getSchemeAndHttpHost() ~ app.request.baseUrl }}'+Routing.generate('slider_check_unique', { title: title }),
                        success: function (json) {
                            if (json.exists) {
                                window.Parsley.addValidator('title', {
                                    validateString: function () {
                                        return false;
                                    },
                                    messages: {
                                        en: 'This slider exists already',
                                        fr: "Ce slider existe déjà"
                                    }
                                });
                            } else {
                                window.Parsley.addValidator('title', {
                                    validateString: function () {
                                        return true;
                                    }
                                });
                            }
                            domTitle.parsley().validate();
                        }
                    });
                }
            });
        });
    </script>