{% extends '::baseFront.html.twig' %}
{% block title %} Erreur serveur {{ parent() }} {% endblock %}
{% block css %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <!--=============== wrapper ===============-->
    <div id="wrapper">
        <!-- content-holder  -->
        <div class="content-holder">
            <!-- Page title -->
            <div class="dynamic-title">Erreur 500</div>
            <!-- Page title  end-->
            <!-- content  -->
            <!-- content  -->
            <div class="content full-height">
                <!-- Hero section   -->
                <div class="hero-wrap">
                    <!-- Hero image   -->
                    <div class="bg"  data-bg="{{ asset('images/bg/1.jpg') }}"></div>
                    <!-- Hero image   end -->
                    <div class="overlay"></div>
                    <!-- Hero text   -->
                    <div class="hero-wrap-item nFound-page-wrap">
                        <span class="nFound-Page">500</span>
                        <h2>Veuillez consulter cette page ultérieurement</h2>
                        <a href="{{ path('home') }}" class="hero-link">Retour à l'accueil</a>
                    </div>
                    <!-- Hero text   end-->
                </div>
                <!-- Hero section   end -->
            </div>
            <!-- content end -->
            <!-- share  -->
            <div class="share-inner">
                <div class="share-container  isShare"  data-share="['facebook','googleplus','twitter','linkedin']"></div>
                <div class="close-share"></div>
            </div>
            <!-- share end -->
        </div>
        <!-- content-holder  end-->
    </div>
    <!-- wrapper end -->
{% endblock %}
{% block js %}
    {{ parent() }}
{% endblock %}