{% extends '::baseFront.html.twig' %}
{% block title %} {{ 'headquarter.title'|trans({},'headquarter') }} - {{ parent() }} {% endblock %}
{% block css %}
    {{ parent() }}
{% endblock %}

{% block jshead %}
    {{ parent() }}
{% endblock %}
{% block body %}

    <div class="about-us-area pt-90">
        <div class="container">
            <div class="area-title text-center">
                <h2>Head Quarter</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora veritatis nemo aut ea iusto eos est expedita, quas ab adipisci.</p>
            </div>
            <div class="row">
                <!-- ABOUT TEXT -->
                <div class="col-md-6">
                    <div class="about-text mt-90">
                        <h5>Grifo flex Italia</h5>
                        <p>Amiamo definirci un’impresa di tecnologia e servizi, con un serio impegno verso la qualità che non ammette deroghe: questa è la nostra filosofia e la nostra mission aziendale.</p>
                        <p>L’impegno strategico e fondamentale di Grifo Flex è la soddisfazione del Cliente, obiettivo che perseguiamo sin dalla fondazione.</p>
              </div>
                </div>
                <!-- /ABOUT TEXT -->
                <!-- PHOTO -->
                <div class="col-md-6">
                    <div class="about-img hidden-sm hidden-xs">
                        <img src="{{ asset('grifoflex-headquarter.jpg') }}" alt="">
                    </div>
                </div>
                <!-- /PHOTO -->
            </div>
        </div>
    </div>

    <div class="basic-counter-area clearfix">
        <div class="counter-box">
            <div class="counter-icon">
                <span class=" icon-trophy"></span>
            </div>
            <div class="counter-text">
                <h3 class="counter-number">650</h3>
                <h4>cups of coffee</h4>
            </div>
        </div>
        <div class="counter-box">
            <div class="counter-icon">
                <span class="icon-happy"></span>
            </div>
            <div class="counter-text">
                <h3 class="counter-number">890</h3>
                <h4>project done</h4>
            </div>
        </div>
        <div class="counter-box">
            <div class="counter-icon">
                <span class="icon-alarmclock"></span>
            </div>
            <div class="counter-text">
                <h3 class="counter-number">1200</h3>
                <h4>branding</h4>
            </div>
        </div>
        <div class="counter-box">
            <div class="counter-icon">
                <span class="icon-megaphone"></span>
            </div>
            <div class="counter-text">
                <h3 class="counter-number">1500</h3>
                <h4>happy clients</h4>
            </div>
        </div>
    </div>


    <div class="basic-process-area pt-90 pb-60">
        <div class="container">
            <div class="area-title text-center">
                <h2>Our Work Process</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora veritatis nemo aut ea iusto eos est expedita, quas ab adipisci.</p>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 mb-30">
                    <div class="process-item text-center">
                        <div class="process-item-icon">
                            <span class="icon-linegraph "></span>
                        </div>
                        <div class="process-item-content">
                            <span class="process-item-number">1</span>
                            <h3 class="process-item-title">Interview</h3>
                            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-30">
                    <div class="process-item text-center highlight">
                        <div class="process-item-icon">
                            <span class="icon-lightbulb"></span>
                        </div>
                        <div class="process-item-content">
                            <span class="process-item-number">2</span>
                            <h3 class="process-item-title">Plan</h3>
                            <p>Balancing a composition involves arranging both positive elements and negative space in such a way.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-30">
                    <div class="process-item text-center">
                        <div class="process-item-icon">
                            <span class="icon-pencil"></span>
                        </div>
                        <div class="process-item-content">
                            <span class="process-item-number">3</span>
                            <h3 class="process-item-title">Design</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-30">
                    <div class="process-item text-center highlight">
                        <div class="process-item-icon">
                            <span class="icon-laptop"></span>
                        </div>
                        <div class="process-item-content">
                            <span class="process-item-number">4</span>
                            <h3 class="process-item-title">Development</h3>
                            <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- basic-process-area end -->
    <div class="video-area ptb-150 bg-1">
        <div class="video-icon-view text-center">
            <a class="play-btn popup-video" href="https://www.youtube.com/watch?v=nrJtHemSPW4"><i class="fa fa-play"></i></a>
        </div>
    </div>




    <div class="clients-area ptb-40">
        <div class="container">
            <div class="row">
                <div class="clients-active owl-carousel">
                    <div class="col-sm-12">
                        <div class="basic-clients">
                            <a href="#"><img src="{{ asset('bundles/grifoflex/img/clients/client-1.png') }}" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="basic-clients">
                            <a href="#"><img src="{{ asset('bundles/grifoflex/img/clients/client-2.png') }}" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="basic-clients">
                            <a href="#"><img src="{{ asset('bundles/grifoflex/img/clients/client-3.png') }}" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="basic-clients">
                            <a href="#"><img src="{{ asset('bundles/grifoflex/img/clients/client-4.png') }}" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="basic-clients">
                            <a href="#"><img src="{{ asset('bundles/grifoflex/img/clients/client-5.png') }}" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="basic-clients">
                            <a href="#"><img src="{{ asset('bundles/grifoflex/img/clients/client-6.png') }}" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="basic-clients">
                            <a href="#"><img src="{{ asset('bundles/grifoflex/img/clients/client-1.png') }}" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="basic-clients">
                            <a href="#"><img src="{{ asset('bundles/grifoflex/img/clients/client-2.png') }}" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    {{ parent() }}
{% endblock %}